/ChangeOrderList.class
/DeleteShppingList.class
/InsertAddress.class
/InsertShppingForm.class
/MyPageMainServlet.class
/OrderListServlet.class
/ShppingForm.class
/UpdateAddress.class
/UpdateShppingForm.class
/ZzimListServlet.class
